.box {
    position: relative;
    text-align: center;
    top: 50%;
    margin: auto;
    width: 500px;
    height: 500px;
    background: #cccccc;
    border-radius: 3%;
}

.nametext {
    position: relative;
    top: 30px;
}

p {
    position: relative;
    top: 60px;
    font-size: 25px;
}

.logoutbutton {
    position: relative;
    top: 100px;
    color: white;
    background-color: skyblue;
    border: transparent;
    border-radius: 50px;
    width: 300px;
    height: 50px;
}
.logoutbutton:hover {
    background-color: #90d5f0;
}

.gomainpage {
    position: relative;
    top: 120px;
    background-color: transparent;
    border: transparent;
    color: #60c7f0;
}
.gomainpage:hover {
    text-decoration:underline;
    text-decoration-color: #60c7f0;
}