<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/> {% comment %} resetcss使いやすすぎ {% endcomment %}
    <link rel="icon" href="{% static '/icon/favicon.ico' %}">
</head>
<body>
    <h1>{{ object.musicname }}編集ページ</h1>
    <form method="post" action="{% url 'update' pk=object.pk %}" class="form-group">
        {% csrf_token %}
        <h3>曲名</h3>
        <input type="text" placeholder="title" name="{{ form.musicname.html_name }}" value="{{ object.musicname }}" autofocus="" autocapitalize="none" maxlength="100" required="">
        <h3>作詞・作曲</h3>
        <input type="text" placeholder="musicvocalist" name="{{ form.musicvocalist.html_name }}" value="{{ object.musicvocalist }}" autofocus="" autocapitalize="none" maxlength="100" required="">
        <h3>アルバム名</h3>
        <input type="text" placeholder="albumname" name="{{ form.albumname.html_name }}" value="{{ object.albumname }}" autofocus="" autocapitalize="none" maxlength="100" required="">
        <h3>画像のリンク</h3>
        <input type="text" placeholder="musicimages" name="{{ form.musicimages.html_name }}" value="{{ object.musicimages }}" autofocus="" autocapitalize="none" maxlength="100" required="">
        <h3>動画へのURL</h3>
        <input type="text" placeholder="musicurl" name="{{ form.musicurl.html_name }}" value="{{ object.musicurl }}" autofocus="" autocapitalize="none" maxlength="100" required="">
        <select name="{{ form.category.html_name }}">
            <option value="{{ object.category }}"></option>
            <option>J-pop</option>
            <option>ボカロ</option>
            <option>ロック</option>
            <option>ヒップホップ</option>
            <option>ジャズ</option>
            <option>クラシック</option>
        </select>
        <h3>情報源</h3>
        <input type="text" placeholder="musicselect" name="{{ form.musicselect.html_name }}" value="{{ object.musicselect }}" autofocus="" autocapitalize="none" maxlength="100" required="">
        <button type="submit">情報を更新</button>
        <button type="button" onclick="location.href='{% url 'main' %}'">リストに戻る</button>
    </form>
</body>
</html>